body{

    background-color: rgb(238, 238, 210);
    
}

/*.bg-color{

background-color: rgb(138, 138, 158);

}*/

.letranegra{

fiter: invert(1);
-webkit-filter: invert(1);
-moz-filter: invert(1)

}

.list-group{

--bs-list-group-bg:transparen;

}

.fa-brands.fa-linkedin.fa-2x:hover{

    color: blue;

}

.fa-brands.fa-github.fa-2x:hover{

color: blueviolet;

}

.fa-brands.fa-facebook.fa-2x:hover{

color: blue;

}

.fa-sharp.fa-solid.fa-bridge-lock.fa-2x:hover{

color: brown;

}

section.banner{
    background-image: url(../img/banner5.png);
    width: 100%;
    height: 65vh;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    -msn-background-size: cover;
    background-repeat: no-repeat;
    
    }

    h1.nombre{

        padding-top: 10%;
        font-size: 4rem;

    }

    /*.imgperfil{

        border-radius: 100%;
        
        }*/

        .colorFondo{

            color: aquamarine;
        }

        footer.bg-black{
            width: 100%;
            height: 100%;
            padding: 1rem;
        }


.imagenExpe{

transition: 400ms;
box-shadow: 10px 10px 25px 15px #000;

}

        .imagenExpe:hover{

opacity: 0.3;

        }

        .login{

            height: 75vh;

        }

        .cuerpoLogin{
            margin-top: 10%;
        }

        .registro{
            
            height: 75vh;

        }